.bg-blue{
    background-color: #244c70;
}
.h3-responsive {
    color: #cf1a45;
}
.text-custom{
    color: #cf1a45;
}
.text-blue{
    color: #244c70;
}
.w-15{
    width: 15%;
}
.bg-grey{
    background-image: url("/assets/img/grey.png");
}

.title_seccion2{
    margin: 0 auto;
    background-color: white;
    width: 25%;
    color: black !important;
}