<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12 col-lg-4">
                <img src="/assets/img/perfil.png" class="img-fluid" alt="perfil">
            </div>
            <div class="col-md-8 col-12 col-lg-8">
                <h2 class="h3-responsive py-3">SOY LUZ ESPINAL,</h2>
                <p>colombiana de nacimiento y chilena por decisión, una mujer de fe y profesional en el área de las
                    relaciones públicas empresariales.
                    <br><br>
                    Durante los últimos 16 años he desempeñado una labor social trabajando por el bienestar de las
                    familias
                    de Chile, esto me ha permitido aportar en la transformación de su calidad de vida y dignificar el
                    rol de
                    la mujer en la sociedad.
                    <br><br>
                    <strong>¡Amo Santiago!</strong> Me impacta su historia, su cultura y por supuesto, su gente. Estamos
                    viviendo momentos
                    críticos y es justamente ahí donde se necesitan nuevas ideas y nuevos actores, un nuevo liderazgo
                    que
                    promueva soluciones concretas. <strong>Siento el compromiso de trabajar por la comuna de Santiago,
                        recuperar la
                        Paz y la Seguridad.</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-blue px-0">
        <h2 class="h3-responsive py-3 text-center text-custom">Propuestas</h2>
        <div class="row py-3">
            <div class="col-md-6 col-12 col-lg-6">
                <h2 class="h4-responsive py-3 text-blue px-4">01. SEGURIDAD</h2>
                <p class="text-blue px-4">La comuna de Santiago ya no es la misma, la inseguridad ha acorralado a
                    nuestros vecinos.
                    El 55,1% cree que el nivel de delitos aumentará en los próximos 12 meses y es posible detectar
                    aumentos
                    significativos en la cantidad de personas que toman medidas de seguridad, para evitar ser víctima de
                    un
                    delito, sin obtener resultados.
                    <br><br>
                    Voy a trabajar por recuperar la Seguridad en la comuna de Santiago, lo haré con acciones concretas
                    que
                    repercutan en disminuir la Inseguridad que nuestros vecinos sienten y expresan.
                    <br><br>
                    <strong>¡Trabajaré para que vuelvas a salir sin miedo!</strong>
                </p>
            </div>
            <div class="col-md-6 col-12 col-lg-6">
                <h2 class="h4-responsive py-3 text-blue px-4">02. PAZ</h2>
                <p class="text-blue px-4">Santiago es la comuna que concentra la mayor parte de los migrantes que
                    habitan en Chile, nací en
                    Colombia y soy chilena por decisión, desde la empatía trabajaré concretamente por recuperar la Paz
                    entre
                    los habitantes y la población migrante residente en Santiago.
                    <br><br>
                    <strong>Trabajaré por la sana convivencia,</strong> pero la sana convivencia, entre los vecinos de
                    Santiago y los
                    migrantes que vienen a aportar, a amar este país y su cultura.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="h3-responsive py-3 text-center">Videos</h2>
        <div class="row py-2">
            <div class="col-12 col-md-4 col-lg-4 py-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hoTkv2j0thk"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 py-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ASsbUzJ25cI"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 py-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dE8fa0KYWtk"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-6 col-12 col-lg-6">
            <h2 class="h3-responsive py-3">DESCARGABLES</h2>
            <p>Te invitamos a unirte a este gran equipo y ser parte activa de nuestra campaña.
                Aquí podrás descargar algunos recursos digitales.
            </p>
        </div>
        <div class="col-md-6 col-12 col-lg-6">
            <h2 class="h3-responsive py-3">¿CÓMO VOTAR POR LUZ ESPINAL?</h2>
            <p>Gráfica de como marcar el tarjetón.</p>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-6 col-12 col-lg-6">
            <h2 class="h1-responsive py-3">FORMULARIO DE CONTACTO</h2>
            <p>Conéctate conmigo, deseo conocer tus inquietudes y las diferentes necesidades de tu comunidad; escríbeme
                y me pondré en contacto contigo.
            </p>
        </div>
        <div class="col-md-6 col-12 col-lg-6">
            <h2 class="h1-responsive py-3">Nombre de la persona</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
</div>